h2 {
  font-family: "cooper-black-std", serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "roboto-mono", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

span {
  font-family: "roboto", serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 12px;
}

a {
  font-size: calc(2px + 2vmin);
  color: #f3eef4;
}

a:hover {
  color: #f48668;
}

.container {
  background-color: #3f01fd;
  color: #f3eef4;
  min-height: 100vh;
  display: grid;
  grid-auto-columns: min-content;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}

.description {
  margin-top: 50px;
}

.projects {
  margin-top: 24px;
}

.project {
  margin-bottom: 50px;
}

.project-image {
  width: 420px;
  /* border: 4px dashed #f3eef4; */
  border-radius: 24px;
}

@media only screen and (max-width: 900px) {
  .project-image {
    width: 240px;
  }
}
