h2 {
  font-family: "cooper-black-std", serif;
  font-weight: 400;
  font-style: normal;
}

span {
  font-style: italic;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 12px;
}

a {
  font-size: calc(2px + 2vmin);
  color: #F3EEF4;
}

a:hover {
  color: #F48668
}

.container {
  background-color: #3F01FD;
  color: #F3EEF4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  padding: 0 20px;
}

.description {
  align-items: left;
}
